<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistroUsuariosw</servlet-name>
        <servlet-class>packEuskalRent.RegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificacionUsuario</servlet-name>
        <servlet-class>packEuskalRent.ModificacionUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginaAcceder</servlet-name>
        <jsp-file>/JSP/PaginaAcceder.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuario</servlet-name>
        <jsp-file>/JSP/RegistroUsuario.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PaginaInicio</servlet-name>
        <jsp-file>/JSP/PaginaInicio.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PaginaInicial</servlet-name>
        <servlet-class>packEuskalRent.BusquedaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>datosGenProp</servlet-name>
        <servlet-class>packEuskalRent.datosGenProp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>datosModProp</servlet-name>
        <servlet-class>packEuskalRent.datosModProp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginaBusquedas</servlet-name>
        <jsp-file>/JSP/PaginaBusquedas.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PaginaModificacionUsuario</servlet-name>
        <jsp-file>/JSP/PaginaModificacionUsuario.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>BusquedaUsuario</servlet-name>
        <servlet-class>packEuskalRent.BusquedaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cAcceder</servlet-name>
        <servlet-class>packEuskalRent.Acceder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginaRegistroPropiedad</servlet-name>
        <jsp-file>/JSP/RegistroPropiedad.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PaginaModificacionPropiedad</servlet-name>
        <jsp-file>/JSP/ModificacionPropiedad.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>packEuskalRent.cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginaComprobacionSession</servlet-name>
        <servlet-class>packEuskalRent.comprobacionSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApartamentoNoDisponible</servlet-name>
        <jsp-file>/JSP/ApartamentosNoDisponibles.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PaginaPropiaApartamentos</servlet-name>
        <jsp-file>/JSP/PaginaApartamentos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SeleccionBusqueda</servlet-name>
        <servlet-class>packEuskalRent.seleccionBusqueda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionReservas</servlet-name>
        <servlet-class>packEuskalRent.GestionReservas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaginaAcceder</servlet-name>
        <url-pattern>/Acceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuario</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaInicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuariosw</servlet-name>
        <url-pattern>/rUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificacionUsuario</servlet-name>
        <url-pattern>/mUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>datosGenProp</servlet-name>
        <url-pattern>/datosGenProp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>datosModProp</servlet-name>
        <url-pattern>/datosModProp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaBusquedas</servlet-name>
        <url-pattern>/Busqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaInicial</servlet-name>
        <url-pattern>/BusquedaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaModificacionUsuario</servlet-name>
        <url-pattern>/PaginaModificacionUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaUsuario</servlet-name>
        <url-pattern>/Buscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cAcceder</servlet-name>
        <url-pattern>/PaginaAccederjava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaRegistroPropiedad</servlet-name>
        <url-pattern>/PaginaRP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaModificacionPropiedad</servlet-name>
        <url-pattern>/PaginaMP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/PaginaCS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaComprobacionSession</servlet-name>
        <url-pattern>/PaginaCSe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApartamentoNoDisponible</servlet-name>
        <url-pattern>/SinApartamentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaPropiaApartamentos</servlet-name>
        <url-pattern>/ApartamentoElegido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionBusqueda</servlet-name>
        <url-pattern>/PaginaSB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionReservas</servlet-name>
        <url-pattern>/PaginaGR</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>JSP/PaginaInicio.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/JSP/Error.jsp</location>
    </error-page>
</web-app>
