/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-nov-2015, 23:17:31
    Author     : Iñaki
*/

<<<<<<< HEAD

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

/* Important part, as the javascript will check for this class */

.header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 85px;
    border: none;
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.2);
}

/* Demo stuff */

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.05em;
    background-image: linear-gradient(135deg, rgba(25,118,210,0.9) 0%,rgba(83,109,254,0.9) 100%), url('http://i.imgur.com/m9flx88.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 10em 0 10em;
    text-align: justify;
=======
/*****************
General
******************/


html, body {
  height: 100%;
  margin: -20px 0 0 0;
}


a {
  text-decoration: none;
  color: inherit;
}


a:hover {
    color: #000000;
}

/*****************
Header 
******************/

header {
  float: left;
  background: #0066ff;
  border-bottom: 2px solid #ffffff;
  padding: 25px 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 100%;
>>>>>>> refs/remotes/origin/master
}


/* Logo */

.logo {
  float: left;
  text-align: left;
  margin-left: 5%;
  font-size: 28px;
}


/* Navigation */

nav {
  float: right;
  text-align: right;
  margin-right: 2%;
}


nav ul {
  list-style: none;
  margin: 0;
  padding-top: 8px;
}

nav li {
  display: inline-block;
  padding: 0 8px;
  text-transform: uppercase;
  font-size: 100%;
  letter-spacing: 2px;
}


nav a {
  padding: 15px 10px;
}



/*****************
Section 
******************/

section {
  background: #99ccff;
  height: 100%;
  text-align: center;
}


section h1 {
  padding-top: 9%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  font-family: 'Vollkorn', serif;
  font-size: 48px;
}

section p { 
  padding-top: -10%;
  padding-bottom: 1%;
  margin-top: 1%;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 1.35;
}

#submit {
  height: 50px;
  width: 220px;
  background: #ffffff;
  color: inherit;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background .3s ease-in-out;
}


#submit:hover {
    color: #ffffff;
    background: #000000;
}

input:focus {
  outline: none;
  border: 2px solid #6699ff;
  box-shadow: 0 0 10px #6699ff;
}

.cajaBusqueda {
    background-color: #6699ff;
    border-style: dashed;
    border-width: 4px;
    border-radius: 30px;
    margin-right: 35%;
    margin-left: 35%;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-bottom: 0%;
    width: 30%;
}

<<<<<<< HEAD
p {
    font-size: 1em;
    color: #fff;
    margin: 2em 0;

}
=======
>>>>>>> refs/remotes/origin/master
