/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-nov-2015, 12:20:03
    Author     : BEEP
*/
 body{
	background-color: #dfe4e7;
	font-family: 'Cabin', sans-serif;
	color: #6d6e71;
}

h1 {
	margin: 0 0 25px 0;
        text-align: center;
       
        
}

.uploader-controls{
	font-size: 1em;
        text-align: left;
}

a{
	color:#26a9e1;
	font-weight: bold;
	display: block;
	margin: 5px 0 0 210px;


}
a:hover{
	color: #197ba5;
}

.uploader{
	border: 1px solid #cbcbcb;
	background-color: white;
	width: 390px;
	margin: auto;
	padding: 20px;
	overflow: hidden;
}

.uploader-header{
	font-size: 1.5em;
}

.fileOutput{
        
	padding: 5px;
	border: 1px solid #cbcbcb;
	background: linear-gradient(#fff, #ebebeb);
	float: left;
	margin-right: 20px;
	width: 130px;
	height: 100px;
	overflow: hidden;
	position: relative;
        margin-top: 13px;
        background-size: 100%;
        background-repeat: no-repeat;
        text-align: center;
     
}     

.fileOutput {
	opacity: 1;
}
form{
  margin: 0 30px;
}

.form-input, .error{
  width: 200px; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
  float: right;
}
.error{
    border:  solid 2px darkred;
}


.button{
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding: 6px 25px 0px 20px;
  margin: 10px 25px 20px 0px;
  display: inline-block;
  float: right;
  text-decoration: none;
  width: auto; height: 35px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #3a57af; 
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
  -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s; 
  top: 0px;
  position:relative;
}

.button:hover {
  top: 3px;
  background-color:#2e458b;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}
.map {
  width: 100px;
  height: 100px;
}